@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: hsl(0, 0%, 98%);
}


img {
    max-width: 100%;
}

main {
    max-width: 900px;
    padding: 0 2%;
}

main header h1 {
    text-align: center;
    color: hsl(234, 12%, 34%);
}

main header h1 > span {
    font-weight: 200;
}

main header p {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: .8rem;
    margin-bottom: 2.5rem;
}

/* FOUR CARD STYLING */

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

/* .single {
    width: 200px;
    height: 100px;
} */

.single {
    -webkit-box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.55); 
    box-shadow: -1px 0px 16px -4px rgba(0,0,0,0.55);

    padding: 1.3rem;

    border-radius: 6px;
}

.single > h2 {
    font-size: 1rem;
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

.single > p {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: .7rem;
    line-height: 1.7;
}

.single:nth-child(1) {
    background-color: hsl(0, 0%, 98%);
    grid-column: 1/2;
    grid-row: 3 /span 2;

    border-top: 3px solid hsl(180, 62%, 55%);
}
.single:nth-child(2) {
    background-color: hsl(0, 0%, 98%);
    grid-column: 3;
    grid-row: 3/ span 2;

    border-top: 3px solid hsl(212, 86%, 64%);
}
.single:nth-child(3) {
    background-color: hsl(0, 0%, 98%);
    grid-column: 2/3;
    grid-row: span 3;

    border-top: 3px solid hsl(0, 78%, 62%);
}
.single:nth-child(4) {
    background-color: hsl(0, 0%, 98%);
    grid-column: 2 / 3;
    grid-row: span 2;

    border-top: 3px solid hsl(34, 97%, 64%);
}



/* *************** */

.image-wrapper {
    display: flex;
    justify-content: right;
    padding-top: 2rem;
}

.image-wrapper img {
    width: 20%;
}


/* MOBILE STYLING */

@media screen and (max-width: 768px) {

    main {
        padding: 3rem 4%;
    }

    main header p {
        max-width: 80%;
        text-align: center;
        line-height: 1.7;
        margin-top: 1rem;
    }
    
    .grid-wrapper {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;
    }
}